# Python & Virtual Environment
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Data & Lakehouse directories
data/
data/raw/
data/delta/
data/chroma/
data/quarantine/
*.csv
*.parquet
*.pkl
*.jsonl
*.log

# Kafka Binaries
kafka_*/
kafka.tgz
zookeeper.log
kafka.log

# IDE & OS Specific
.vscode/
.idea/
.DS_Store
Thumbs.db
